body {
    background-color: #282828;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000, #9e00ff);
    background-size: 120% 120%;

}
header {
    display: flex;
    justify-content: space-around;
    margin: 0;
    color: rgb(0, 80, 151);
}
header h2 {
    font-size: 40px;
    color: rgb(0, 80, 151);
}
main {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}
main img{
    width: 80%;
    height: 100%;
    border-radius: 100%;
}
.foto-sombra-interna {
    background: linear-gradient(to right, #8A35C8, #18C063, #00EEA2);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
    border-radius: 100%;
}
main h1 {
    font-size: 60px;
}
main h2 {
    font-size: 50px;
}